.btn {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: var(--fw-bold);
}

.btn--primary {
  background-color: transparent;
  color: var(--clr-light);
  border: 1px solid var(--clr-light);
}

.btn--outline {
  background-color: transparent;
  color: var(--clr-light);
  border: 1px solid var(--clr-light);
}

.btn--medium {
  padding: 0.5rem 1.2rem;
  font-size: var(--fs-sm);
}

.btn--large {
  padding: 0.8rem 1.6rem;
  font-size: var(--fs-md);
}

.btn--medium:hover,
.btn--large:hover {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.2s ease-in-out;
}
